*{
	box-sizing: border-box;
	padding: 0;
	margin:0;
}

.wrapper{
	width: 640px;
	height: 480px;
	margin:100px auto;
	position: relative;
}
input{
	display: none;
}

.slider{
	width: inherit;
	height: inherit;
	position: relative;
	background: grey;
	box-shadow: 0 0 20px rgba(0,0,0, 0.5);
	overflow: hidden;
}
.slides{
	position: absolute;
	height: inherit;
	width: inherit;

}

.slide1{
	background: url(../img/1.jpg);
}
.slide2{
	background: url(../img/2.jpg);
}
.slide3{
	background: url(../img/3.jpg);
}
.slide4{
	background: url(../img/4.jpg);
}
.slide5{
	background: url(../img/5.jpg);
}

.controls{
	position: absolute;
	left:50%;
	transform:translateX(-50%);
	
}
.controls label{
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	cursor: pointer;
	margin:20px 10px;
	position: relative;

}
.controls label:after{
	display: block;
	content:" ";
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid grey;
	position: absolute;
	top:-4px;
	left:-4px;

}

.controls label:hover,
#slide1:checked ~ .controls > label:nth-of-type(1),
#slide2:checked ~ .controls > label:nth-of-type(2),
#slide3:checked ~ .controls > label:nth-of-type(3),
#slide4:checked ~ .controls > label:nth-of-type(4),
#slide5:checked ~ .controls > label:nth-of-type(5){
	background:grey;
}

.slides{
	position: absolute;
	width: inherit;
	height: inherit;
	z-index:0;
	opacity: 0;
	transform: scale(1.5);
	transition:opacity 0.5s ease-in-out, scale 0.5s ease-in-out;

}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5{
	z-index: 1;
	opacity: 1;
	transform: scale(1);
}


